# Node modules
node_modules

# Adonis directory for storing tmp files
tmp/uploads/*
!tmp/test/*

# Environment variables, never commit this file
.env
.database.env

# The development sqlite file
database/*.sqlite
