<h2>Ola {{ name }},</h2>
<p>
  Parece que voce solicitou uma recuperacao da sua senha, caso queira prosseguir clique no link abaixo:
</p>
<p><a href="{{ resetPasswordUrl }}" target="_blank">Recuperar senha</a></p>
<p>
  Caso nao tenha sido voce que fez a solicitacao, favor descartar o email.
</p>
<p>
  <strong>Equipe PISystem</strong>
</p>
